body
	header.container-fluid.header-container
		div.container
			div.logo-container.col-md-5
				a(href='/')
					img#header_logo(src='/images/Logotipo ROIS al margen JPG.jpg')
				span.rois-logo-line
				span.rois-logo-dot
			div.secundary-rois-container.col-md-5
				img#secundary_rois(src='/images/Buho Rois Color PNG.png')
				div.text-container-secundary-rois
					div.shadow-container-secundary-rois
						div.figure-box-secundary-rois
					h5.text-secundary-rois Lorem Ipsum
			div.menu-container.col-md-7
				ul#header_menu
					li
						a(href='#Home') Inicio
					li
						a(href='#Servicios') Servicios
					li
						a(href='#Portafolio') Portafolio
					li
						a(href='#Equipo') Equipo
					li
						a(href='#Contacto') Contacto
				span.rois-menu-line-thick
				span.rois-menu-line-thin