body
	header.container-fluid.header-container
		div.container
			div.logo-container.col-md-5
				img#header_logo(src='/images/Logotipo ROIS al margen JPG.jpg')
				span.rois-logo-line
				span.rois-logo-dot
			div.menu-container.col-md-7
				ul#header_menu
					li
						a(href='#Home') Inicio
					li
						a(href='#Servicios') Servicios
					li
						a(href='#Portafolio') Portafolio
					li
						a(href='#Equipo') Equipo
					li
						a(href='#Contacto') Contacto
				span.rois-menu-line-thick
				span.rois-menu-line-thin
