html(lang="es")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{view.title} | #{settings.siteName}
    //- link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css")
    //- link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.1.0/css/all.css")
    link(rel="stylesheet", href="/plugins/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap.css")
    link(rel="stylesheet", href="/stylesheets/site.css")
block header
	
block content

block footer

block scripts