extends _layout

block header
	body.coming-soon-body

block content
	img.coming-soon-img(src=comingSoon.contents.medias[0].Multimedia_Path,alt=comingSoon.contents.medias[0].Multimedia_Description)

block loader&messagebox

block footer

block scripts