extends _layout

block header
	body.dead-link-body

block content
	img.dead-link-img(src=deadLink.contents.medias[0].Multimedia_Path,alt=deadLink.contents.medias[0].Multimedia_Description)

block footer
	footer