extends _layout

block header
	include _header.pug

block content
	div.container-fluid.site-content.home-container#content
		section#Home
		section#Services
		section#Portfolio
		section#Team
		section#Contact

block footer
	include _footer.pug

block scripts
	include _scripts.pug

